name: Build and Push Devcontainer Image

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      environment:
        description: 'Environment to run on'
        required: true
        default: 'development'
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Echo inputs
        run: |
          echo "Log Level: ${{ github.event.inputs.logLevel }}, Environment: ${{ github.event.inputs.environment }}"

  build-and-push:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v3

      - name: Set up Podman
        run: |
          sudo apt update
          sudo apt install -y podman

      - name: Verify installation
        run: podman version

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build devcontainer image
        run: podman build -t ${{ secrets.DOCKER_USERNAME }}/arch-devcontainer:latest -f devhole/Containerfile .

      - name: Push devcontainer image
        run: podman push ${{ secrets.DOCKER_USERNAME }}/arch-devcontainer:latest
